html {
    scroll-behavior: smooth;
}

a {
    font-family: Inter, Arial !important;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: black;
}

div {
    letter-spacing: 0;
}

.offcanvas-body * {
    color: white;
    margin: 10px 15px;
}

.btn-thread-line {
    left: 30px;
    top: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #5c6063;
    border-color: white;
    border-radius: 6px;
}

.btn-thread-line:hover {
    opacity: 0.8;
}

.background-fill {
    background-color:#ff99fc;
background-image:
radial-gradient(at 2% 51%, hsla(12,85%,64%,1) 0px, transparent 50%),
radial-gradient(at 22% 10%, hsla(263,84%,73%,1) 0px, transparent 50%),
radial-gradient(at 92% 56%, hsla(182,70%,60%,1) 0px, transparent 50%),
radial-gradient(at 61% 18%, hsla(118,94%,68%,1) 0px, transparent 50%),
radial-gradient(at 37% 88%, hsla(352,74%,79%,1) 0px, transparent 50%),
radial-gradient(at 14% 6%, hsla(332,76%,78%,1) 0px, transparent 50%),
radial-gradient(at 52% 52%, hsla(21,89%,76%,1) 0px, transparent 50%),
radial-gradient(at 89% 48%, hsla(353,66%,68%,1) 0px, transparent 50%);
}