* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00ffff;
    width: 1280px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.logo {
    font-size: 24px;
    color: black;
}

.ul-nav-menu {
    display: flex;
    list-style-type: none;
    height: 0px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.contact-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-menu {
    padding: 10px 20px 10px 20px;
}
