{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/catalog.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="background-fill">
        <div class="card-container">
            {% for prod in products['products'] %}
                <div class="card" style="width: 18rem;">
                    <a href="catalog/{{ prod['id'] }}"><img
                            src="{{ url_for('static', filename='img/products/product_' + prod.description_products.id|string + '/' + prod['path_images'].split(',')[0]) }}"
                            class="card-img-top" alt="Изображение не найдено"></a>
                    <div class="card-body" style="height: 400px;">
                        <h5 class="card-title">{{ prod['title'] }}</h5>
                        {% if prod['discount'] is none or prod['discount'] < prod['price'] %}
                            <h5 class="card-title">{{ prod['price'] }}₽</h5>
                        {% else %}
                            <a class="card-title discount-card"
                               style="color: red">{{ prod['price'] }}₽</a>
                            <s style="color: #9f9f9f;">{{ prod['discount'] }}₽</s>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}