<div id="modalWin" class="modal">
    <div class="modal-window">
        <h2>Здесь вы можете задать любой вопрос</h2>
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="form-group mb-2">
                <label>{{ form.theme.label }}</label>
                {{ form.theme(class="form-control") }}
                {% for error in form.theme.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-2">
                <label>{{ form.question.label }}</label>
                {{ form.question(class="form-control") }}
                {% for error in form.question.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <p>{{ form.submit(type="submit", class="send_mess") }}</p>
            <a style="color: #666666; letter-spacing: 0.1px; font-size: 12px;"><span style="color: red">*</span>
                В течение дня наш сотрудник ответит вам, оставив уведомление в личном кабинете</a>
        </form>
        <button data-easy-toggle="#modalWin" data-easy-class="show" data-easy-rcoe class="btn-close">X</button>
    </div>
    <div class="overlay" data-easy-toggle="#modalWin" data-easy-class="show" data-easy-rcoe></div>
</div>
<script src="{{ url_for('static', filename='js/modal_wind.js') }}"></script>