{% extends "base.html" %}

{% block content %}
<div align="center" class="nav-menu">

    <header>
        <div class="logo">Династия</div>
        <nav>
            <ul class="ul-nav-menu">
                <li style="margin: 0 15px;"><a href="#services">Наши услуги</a></li>
                <li style="margin: 0 15px;"><a href="#about">О компании</a></li>
                <li style="margin: 0 15px;"><a href="#reviews">Отзывы</a></li>
                <li style="margin: 0 15px;"><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
        <div>
            <a style="margin-right: 20px">+7 (999) 999-99-99</a>
            <a class="contact-button" href="#contact">Связаться</a>
        </div>
    </header>

    <div style="padding-top: 80px"><a class="text-header">Изготовление корпусной мебели на<br>заказ – индивидуальность и<br>качество!</a>
    </div>
    <div style="padding-top: 20px; padding-bottom: 60px"><a style="color: white">Изготавливаем уникальную корпусную
        мебель на заказ по индивидуальным<br>проектам.</a></div>
</div>

<div align="center" class="cards">
    <div class="card" style="width: 280px">
        <img width="100px" src="/static/img/xit.png">
        <span class="card-span">Изготовление мебели на заказ – быстро и качественно!<br></span>
        <a class="card-a">Изготавливаем мебель на заказ быстро, чтобы ваш интерьер стал идеальным раньше.</a>
    </div>
    <div class="card" style="width: 280px">
        <img width="100px" src="/static/img/strelka.png">
        <span class="card-span">Гарантия качества на заказную мебель<br></span>
        <a class="card-a">Мы уверены в качестве своей работы, поэтому предоставляем гарантию на все изделия.</a>
    </div>
    <div class="card" style="width: 280px">
        <img width="100px" src="/static/img/cemodan.png">
        <span class="card-span">Инновационные решения в производстве мебели на заказ<br></span>
        <a class="card-a">Индивидуальный подход к каждому проекту с использованием передовых технологий
            производства.</a>
    </div>
    <div class="card" style="width: 280px">
        <img width="100px" src="/static/img/mesage.png">
        <span class="card-span">Изготовление корпусной мебели под ваши потребности<br></span>
        <a class="card-a">Мы предлагаем персонализированный подход к каждому клиенту, помогая создать уникальную мебель
            под ваш интерьер.</a>
    </div>
</div>
{% endblock %}