{% extends "base.html" %}
{% block head %}
    <style>
        body {
            background-color: #bebebe;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .register-form {
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            min-width: 350px;
            max-width: 700px;
            width: 100%;
        }

        .form-control::placeholder {
            color: #888;
        }

        .btn-register {
            background-color: #888;
            color: white;
            border: none;
        }

        .btn-register:hover {
            color: white;
            background-color: #666;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="register-form">
        <h2 class="text-center mb-4">Вход</h2>
        <form id="registerForm" method="post">
            <div class="form-group mb-2">
                {{ form.email(class="form-control", placeholder="your-email@example.com") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group mb-2">
                {{ form.password(class="form-control", placeholder="Пароль") }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            <div style="display: flex;">
                <button type="submit" class="btn btn-block btn-register">Вход</button>
                <a class="icon-link icon-link-hover"
                   style="--bs-link-hover-color-rgb: 25, 135, 84; margin-left: 25px;  font-size: 19px;"
                   href="/register">
                    Зарегистрироваться
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </div>
            <div class="invalid-feedback d-block">{{ enter_error }}</div>
        </form>
    </div>
{% endblock %}