{% if order %}

    <div class="order-card__wrapper {{ order.status }}" data-date="{{ order.create_date }}" data-price="{{ order.price }}">
        <a href="/catalog/{{ order.product.id }}" class="order-card-link">
            <div class="order-card">
            <span class="date date-order">Заказ сделан: {{ order.create_date }}</span>
                <div class="order-state">
                    {% if order.status == 'construction' %}
                        <img src="{{ url_for('static', filename='svg/order-wait.svg') }}" alt="собирается">
                        <div class="order-state__text">Заказ собирается</div>
                    {% elif order.status == 'ready' %}
                        <img src="{{ url_for('static', filename='svg/order-warehouse.svg') }}" alt="готово к доставке">
                        <div class="order-state__text">Заказ готов</div>
                    {% elif order.status == 'sent' %}
                        <img src="{{ url_for('static', filename='svg/order-onway.svg') }}" alt="в пути">
                        <div class="order-state__text">Заказ в пути</div>
                    {% elif order.status == 'done' %}
                        <img src="{{ url_for('static', filename='svg/order-done.svg') }}" alt="завершён">
                        <div class="order-state__text">Заказ завершён</div>
                    {% endif %}

                </div>
                <div class="order-name">{{ order.product.title }}</div>
                <div class="order-price">{{ order.price }} ₽</div>
            </div>
        </a>
    </div>


{% else %}
    <div class="order-card__wrapper" style="height: 100px;">
        <div class="order-name" style="text-align: center">У Вас пока нет заказов</div>
    </div>
{% endif %}