{% extends 'profile.html' %}

{% block profile_content %}
    <div class="profile-main-section__wrapper">
        <div class="content-label">Уведомления</div>
        <div class="list-block__wrapper">
            <div class="list-block__header">
                <div class="list-header-filter">
                    <button class="filter-button" data-filter="read" onclick="toggleFilter(this)">
                        Непрочитанные
                    </button>
                </div>
                <div class="list-header-filter">
                    <button class="filter-button" data-filter="date" onclick="toggleFilter(this)">
                        Сначала новые
                    </button>
                </div>
            </div>
            <div class="list-block__body">
                {% if notifications %}
                    {% for notification in notifications.notifications %}
                        <div class="notification-card {% if not notification.read %}unread{% endif %}"
                             data-date="{{ notification.create_date }}"
                             onclick="toggleNotification(this)">
                            <div class="notification-header">
                                {% if not notification.read %}
                                    <div class="status-dot"></div>
                                {% endif %}
                                <strong class="notification-title">{{ notification.title }}</strong>
                                <span class="date">{{ notification.create_date }}</span>
                            </div>
                            <p class="notification-preview">{{ notification.text }}</p>
                            <div class="notification-full-content">
                                <p class="notification-full-text text-break">{{ notification.text }}</p>
                                <form method="post">
                                    {% if not notification.read %}
                                        <button type="submit" name="read_submit" value="{{ notification.id }}"
                                                class="btn btn-outline-success">Прочитать
                                        </button>
                                    {% endif %}
                                    {% if not notification.public %}
                                    <button type="submit" name="delete_submit" value="{{ notification.id }}"
                                            class="btn btn-outline-danger">Удалить
                                    </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% endif %}

            </div>
        </div>
        <script src="/static/js/profile_notification.js"></script>
    </div>
{% endblock %}