{% extends 'profile.html' %}

{% block profile_content %}
<div class="profile-main-section__wrapper">
    <div class="content-label">Профиль</div>
    <div class="profile-info-group">
        <span class="profile-info-group__text">Контактные данные</span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ваш телефон</span>
            {{form.phone_number(class='form-control', placeholder='+7')}}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="input-email-label">Ваш E-mail</span>
            {{form.email(class='form-control', placeholder='example@mail.ru')}}

        </div>
    </div>
    <div class="profile-info-group">
        <span class="profile-info-group__text">Личные данные</span>
        <div class="input-group mb-3">
            <span class="input-group-text">Фамилия</span>
            {{form.surname(class='form-control', placeholder='Фамилия')}}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Имя</span>
            {{form.name(class='form-control', placeholder='Имя')}}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Отчество</span>
            {{form.patronymic(class='form-control', placeholder='Отчество')}}
        </div>
    </div>
    <div class="profile-info-group">
        <span class="profile-info-group__text">Дата рождения</span>
        {{form.birth_date(class='form-control input-group')}}
    </div>
    <div class="profile-info-group">
        <span class="profile-info-group__text">Ваш пол</span>
        <div class="input-group"
             style="display: grid; grid-template-rows: 100%; grid-template-columns: 100px auto; column-gap: 20px">
            {% for subfield in form.sex %}
            <div class="radio-group">
                <span class="radio-checkbox">{{ subfield }}</span>
                <span>{{ subfield.label }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="submit__wrapper">
        {{form.submit(class='btn btn-secondary save-btn input-group')}}
        <span id="save-status-text">{{status_text}}</span>
    </div>
</div>
{% endblock%}