{% extends "base.html" %}
{% block head %}
<style>
    body {
        background-color: #bebebe;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .registration-form {
        background-color: white;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 700px;
        width: 100%;
    }
    .form-control::placeholder {
        color: #888;
    }
    .btn-register {
        background-color: #888;
        color: white;
        border: none;
    }
    .btn-register:hover {
        color: white;
        background-color: #666;
    }
</style>
{% endblock %}

{% block content %}
<div class="registration-form">
    <h2 class="text-center mb-4">Новый профиль</h2>
    <form id="registrationForm">
        <div class="form-group mb-2">
            {{ form.phone_number(class="form-control", placeholder="Номер телефона") }}
            {% for error in form.phone_number.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group mb-2">
            {{ form.surname(class="form-control", placeholder="Фамилия") }}
            {% for error in form.surname.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group mb-2">
            {{ form.name(class="form-control", placeholder="Имя") }}
            {% for error in form.name.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-block btn-register")}}
        <button type="submit" class="btn btn-block btn-register">{{form.phone_number.errors}}</button>
    </form>
</div>
{% endblock %}